<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>flex 基本布局</title>
 <style>
  *{
   margin: 0;
   padding: 0;
  }
 .box{
   display: flex;
   width:200px;
   padding:20px;
 }
 img{
   width: 50px;
   height: 50px;
   margin-right: 10px;
 }
 .box-content{
   flex:1;
 }
 </style>
</head>

 <body class="Site">
  
  <br />
  <div>flex 1常用布局</div>
  <br />
  <br />

  <div class="box">
    <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2F04.imgmini.eastday.com%2Fmobile%2F20180420%2F20180420230633_83052b318ae89318219ee5afa9ab67ed_1.jpeg&refer=http%3A%2F%2F04.imgmini.eastday.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1641293158&t=d7926092510817e2f7b513a18d863c38" alt="">
    <div class="box-content">
      阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到阿斯顿发送到
    </div>
  </div>
</body>
 
</html>